.achievements-section {
  @include section-title-adjustment();
  .container {
    padding-top: 0.5rem;
  }
  #gallery {
    display: block; // Masonry positions items
    width: 100%;
    &.expanded{
      height: calc(400px + 15px) !important;
    }
    .achievement-entry {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
      background-color: transparent;
      border-radius: 8px;
      @include transition();

      // Normal grid widths
      width: calc((100% + 15px) / 4 - 15px); // 4 columns, 15px gutter

      .title {
        color: get-light-color('text-over-box')!important;
        background-color: rgba(get-light-color('box-over-image'), 0.9);
        opacity: 0;
        padding: 5px;
        position: absolute;
        bottom: -5px;
        width: 100%;
        margin-bottom: 0;
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        z-index: 20000;
        @include transition();

        .svg-inline--fa {
          opacity: 1;
          font-size: 1rem;
          @include transition();
        }

        .title {
          opacity: 1;
          bottom: 0px;
          @include transition();
        }
      }
      .expand-icon{
        display: block;
      }
      .collapse-icon{
        display: none;
      }
      // Expanded entry
      &.achievement-details {
        left: 0px !important;
        top: 0px !important;
        width: 100%;
        z-index: 1;
        height: 400px !important;
        img.achievement-img {
          width: auto;
          height: 100%;
          margin: 0 auto;
          transition: none !important;
        }
        .expand-icon{
          display: none;
        }
        .collapse-icon{
          display: block;
        }
        &:hover {
          transform: scale(1.01);
        }
        &:hover .caption,
        &:focus .caption{
          border-left: 2px solid get-light-color('hover-over-accent-color');
        }
      }
    }

    img.achievement-img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
      border-radius: 8px;

    }

    .svg-inline--fa {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 10px;
      background-color: rgba(get-light-color('box-over-image'), 0.9);
      color: get-light-color('muted-text-color');
      font-size: 0rem;
      opacity: 0;
      cursor: pointer;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .caption {
      background-color: rgba(get-light-color('box-over-image'), 1);
      bottom: 1rem;
      left: 1rem;
      color: get-light-color('text-over-box');
      padding: 15px;
      position: absolute;
      @include transition();
      border-left: 2px solid get-light-color('accent-color');
      border-top: 1px solid get-light-color('bg-card');
      border-bottom: 1px solid get-light-color('bg-card');
      border-right: 1px solid get-light-color('bg-card');
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      h4 {
        color: get-light-color('text-over-box')!important;
      }

      p {
        font-size: 16px;
        font-weight: 300;
        color: get-light-color('text-over-box');
      }
    }

    // Responsive widths
    @include media('<=medium') { 
      .achievement-entry { width: calc((100% + 15px) / 3 - 15px); } 
    }
    @include media('<=small') { 
      .achievement-entry { width: calc((100% + 15px) / 2 - 15px); } 
    }
  }
}

// Dark theme overrides
html[data-theme='dark'] {
  .achievements-section {
    #gallery {
      .achievement-entry {
        background-color: transparent;
        &.achievement-details {         
          &:hover .caption,
          &:focus .caption{
            border-left: 2px solid get-dark-color('hover-over-accent-color');
          }
        }
        .title {
          color: get-dark-color('text-over-box')!important;
          background-color: rgba(get-dark-color('box-over-image'), 0.9);
        }
      }

      .svg-inline--fa {
        color: get-dark-color('muted-text-color');
        background-color: rgba(get-dark-color('box-over-image'), 0.9);
      }

      .caption {
        background-color: rgba(get-dark-color('box-over-image'), 1);
        color: get-dark-color('text-over-box');
        border-left: 2px solid get-dark-color('accent-color');
        border-top: 1px solid get-dark-color('bg-card');
        border-bottom: 1px solid get-dark-color('bg-card');
        border-right: 1px solid get-dark-color('bg-card');
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        h4 {
          color: get-dark-color('text-over-box')!important;
        }

        p {
          color: get-dark-color('text-over-box');
        }
      }
    }
  }
}