.projects-section {
  .card {
    border-left: 1px solid get-light-color('bg-card');
    border-top: 1px solid get-light-color('bg-card');
    border-bottom: 1px solid get-light-color('bg-card');
    border-right: 1px solid get-light-color('bg-card');
    background-color: get-light-color('bg-card');
    height: 100%;
    .card-header {
      border-bottom: 2px solid get-light-color('accent-color-border');
      background-color: get-light-color('bg-card');
      padding: 0.7rem;
      padding-bottom: 0rem;
      text-decoration: none !important;
      svg{
        color: get-light-color('accent-color');
      }
      .card-img-xs {
        margin-right: 0.5rem;
      }
      .sub-title {
        color: get-light-color('muted-text-color');
        margin-top: 0.4rem;

        span {
          &:nth-child(1) {
            float: left;
          }
          &:nth-child(2) {
            float: right;
          }
        }
      }
    }

    .card-body {
      padding: 0.7rem;
    }
    // &:hover .card-header,
    // &:focus .card-header{
    //   border-bottom: 2px solid get-light-color('hover-over-accent-color-border');
    //   svg{
    //   color: get-light-color('hover-over-accent-color');
    //   }
    // }
  }
  .card a {
    text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: none;
        }
  }
  // .filtr-projects {
  //   padding: 1rem !important;
  // }
  .filtr-item[style*="opacity: 0"] {
    pointer-events: none;
  }
  .project-card-footer {
    display: flex;
    .badge {
      margin-left: 0.1em;
      margin-right: 0.1em;
    }
  }

  .project-tags-holder {
    width: 70%;
  }

  .project-btn-holder {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    span {
      display: flex;
      justify-content: flex-end;
    }
  }


  @include media('<=small') {
    .btn {
      margin-top: 0.3125rem;
    }
    .filtr-item {
      max-width: 100%;
    }
  }
}

html[data-theme='dark'] {
  .projects-section {
    .card {
      border-left: 1px solid get-dark-color('bg-card');
      border-top: 1px solid get-dark-color('bg-card');
      border-bottom: 1px solid get-dark-color('bg-card');
      border-right: 1px solid get-dark-color('bg-card');
      background-color: get-dark-color('bg-card');
      .card-header {
        border-bottom: 2px solid get-dark-color('accent-color-border');
        background-color: get-dark-color('bg-card');
        svg{
          color: get-dark-color('accent-color');
        }
        .sub-title {
          color: get-dark-color('muted-text-color');
        }
      }
    // &:hover .card-header,
    // &:focus .card-header{
    //   border-bottom: 2px solid get-dark-color('hover-over-accent-color-border');
    //   svg{
    //   color: get-dark-color('hover-over-accent-color');
    //   }
    // }
    }
  }
}
