.skills-section {
  .card {
    border-left: 1px solid get-light-color('bg-card');
    border-top: 1px solid get-light-color('bg-card');
    border-bottom: 1px solid get-light-color('bg-card');
    border-right: 1px solid get-light-color('bg-card');
    height: 100%;
    background-color: get-light-color('bg-card') !important;

    .card-head {
      background-color: get-light-color('bg-card') !important;
      height: -moz-fit-content;
      height: fit-content;
      aspect-ratio: unset;
      padding: 0.7rem;
      padding-bottom: 0rem;
      border-bottom: 2px solid get-light-color('accent-color-sec');

      .card-img-xs {
        margin-right: 0.5rem;
        margin-bottom: 0.75rem;
      }
    }

    .card-body {
      padding-top: 0.2rem;
      padding-left: 0.7rem;
    }
    .card-body p {
      margin-top: 0;
      margin-bottom: 0;
    }
    .card-body ul {
      margin-top: 0.25rem;
      margin-bottom: 0;
    }

    &:hover .card-head,
    &:focus .card-head{
      border-bottom: 2px solid get-light-color('hover-over-accent-color-sec');
    }
    &:hover .card-title svg,
    &:focus .card-title svg{
      color: get-light-color('hover-over-accent-color') !important;
    }
  }
  .filtr-skills {
    padding: 1rem !important;
  }
  .filtr-item[style*="opacity: 0"] {
    pointer-events: none;
  }
  @include media('<=medium') {
    padding-left: 0;
    padding-right: 0;

    .container {
      max-width: 100%;
    }
  }
}

html[data-theme='dark'] {
  .skills-section {
    .card {
      border-left: 1px solid get-dark-color('bg-card');
      border-top: 1px solid get-dark-color('bg-card');
      border-bottom: 1px solid get-dark-color('bg-card');
      border-right: 1px solid get-dark-color('bg-card');
      background-color: get-dark-color('bg-card') !important;
      .card-head {
        background-color: get-dark-color('bg-card') !important;
        border-bottom: 2px solid get-dark-color('accent-color-sec');
      }
      &:hover .card-head,
      &:focus .card-head{
        border-bottom: 2px solid get-dark-color('hover-over-accent-color-sec');
      }
      &:hover .card-title svg,
      &:focus .card-title svg{
        color: get-dark-color('hover-over-accent-color') !important;
      }
    }
  }
}
