{{/*  variables for enabling/disabling various features  */}}
{{ $darkEnabled  := true }}
{{ $lightEnabled := true }}
{{ if site.Params.features.theme.enable }}
  {{ $darkEnabled   = site.Params.features.theme.services.dark   | default true }}
  {{ $lightEnabled  = site.Params.features.theme.services.light  | default true }}
{{ end }}

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle"  href="#" id="themeSelector" role="button"
  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span id="navbar-theme-icon-svg" class="theme-icon" alt="System Theme">
      {{ readFile "assets/icons/computer-svgrepo-com.svg" | safeHTML }}
    </span>
</a>
<div id="themeMenu" class="dropdown-menu dropdown-menu-icons-only" aria-labelledby="themeSelector">
  {{ if $lightEnabled }}
  <a class="dropdown-item nav-link" href="#" data-scheme="light">
    <span class="theme-icon" alt="Light Theme">
      {{ readFile "assets/icons/sun-svgrepo-com.svg" | safeHTML }}
    </span>
  </a>
  {{ end }}
  {{ if $darkEnabled }}
  <a class="dropdown-item nav-link" href="#" data-scheme="dark">
    <span class="theme-icon" alt="Dark Theme">
      {{ readFile "assets/icons/moon-svgrepo-com.svg" | safeHTML }}
    </span>
  </a>
  {{ end }}
  {{ if and $lightEnabled $darkEnabled }}
  <a class="dropdown-item nav-link" href="#" data-scheme="system">
    <span class="theme-icon" alt="System Theme">
      {{ readFile "assets/icons/computer-svgrepo-com.svg" | safeHTML }}
    </span>
  </a>
  {{ end }}
</div>
</li>