@use 'sass:map';

$breakpoints: (
  tiny: 320px,
  small: 640px,
  medium: 768px,
  large: 1024px,
  very-large: 1280px,
  extra-large: 1536px,
  ultra-large: 2560px,
);

// Color are chosen from TailwindCSS color scheme
// https://tailwindcss.com/docs/customizing-colors

// transitions
$transition-duration: 0.3s;
$transition-type: ease-out;

// borders and shadows
$box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);

// themes
$light-accent-color: #0b57d0;
$dark-accent-color: #8ab4f8;
$light-card: #eaeaea;
$dark-card: #313131;
$themes: (

  'light': (

    'accent-color': $light-accent-color,
    'hover-over-accent-color': darken($light-accent-color, 10%),
    'hover-over-button-color': darken($light-card, 10%),
    'text-over-accent-color': $light-card,
    'bg-primary': #ffffff,
    'bg-primary-inverse': #181818,
    'bg-secondary': #f9f9f9,
    'bg-card': $light-card,
    'heading-color': #000000,
    'text-color': #2b2b2b,
    'inverse-text-color': #e0e0e0,
    'muted-text-color': #777777,
    'inline-code-color': #444444,
    'highlight-color': #bdbdbd,
    'footer-color': $light-card,
    'progress-color': $light-accent-color,
    'box-over-image': $light-card,
    'text-over-box': #2b2b2b,

  ),

  'dark': (
    'accent-color': $dark-accent-color,
    'hover-over-accent-color': lighten($dark-accent-color, 10%),
    'hover-over-button-color': lighten($dark-card, 10%),
    'text-over-accent-color': $dark-card,
    'bg-primary': #181818,
    'bg-primary-inverse': #ffffff,
    'bg-secondary': #1f1f1f,
    'bg-card': $dark-card,
    'heading-color': #ffffff,
    'text-color': #e0e0e0,
    'inverse-text-color': #2b2b2b,
    'muted-text-color': #9c9c9c,
    'inline-code-color': #bbbbbb,
    'highlight-color': #444444,
    'footer-color': $dark-card,
    'progress-color': $dark-accent-color,
    'box-over-image': $dark-card,
    'text-over-box': #e0e0e0,
  ),

);

// // themes default
// $light-accent-color: #0891b2;
// $dark-accent-color: #0891b2;
// $themes: (
//   'light': (
//     'accent-color': $light-accent-color,
//     'hover-over-accent-color': lighten($light-accent-color, 20%),
//     'selected-accent-color': lighten($light-accent-color, 10%),
//     'text-over-accent-color': #e4e4e7,
//     'bg-primary': #f8fafc,
//     'bg-primary-inverse': #0f172a,
//     'bg-secondary': #e2e8f0,
//     'bg-card': #fff,
//     'heading-color': #1e293b,
//     'text-color': #334155,
//     'inverse-text-color': #cbd5e1,
//     'muted-text-color': #64748b,
//     'inline-code-color': #dc2626,
//     'highlight-color': #fde68a,
//     'footer-color': #0f172a,
//     'progress-color': $light-accent-color,
//   ),
//   'dark': (
//     'accent-color': $dark-accent-color,
//     'hover-over-accent-color': lighten($dark-accent-color, 20%),
//     'selected-accent-color': lighten($dark-accent-color, 10%),
//     'text-over-accent-color': #e4e4e7,
//     'bg-primary': #1f2937,
//     'bg-primary-inverse': #0f172a,
//     'bg-secondary': #111827,
//     'bg-card': #1e293b,
//     'heading-color': #f1f5f9,
//     'text-color': #cbd5e1,
//     'inverse-text-color': #0f172a,
//     'muted-text-color': #64748b,
//     'inline-code-color': #dc2626,
//     'highlight-color': #fde68a,
//     'footer-color': #0f172a,
//     'progress-color': $dark-accent-color,
//   ),
// );

$brand-colors: (
  'facebook': #3b5998,
  'twitter': #1da1f2,
  'linkedin': #0077b5,
  'reddit': #ff4500,
  'tumblr': #35465c,
  'pocket': #ef4056,
  'diaspora': #1e1e1e,
  'whatsapp': #25d366,
);

$alerts: (
  'success': (
    // green 100
    'bg-color': #dcfce7,
    // green 800
    'text-color': #166534,
  ),
  'info': (
    // sky 100
    'bg-color': #e0f2fe,
    // sky 800
    'text-color': #075985,
  ),
  'warning': (
    // yellow 100
    'bg-color': #fef9c3,
    // yellow 800
    'text-color': #854d0e,
  ),
  'danger': (
    // red 100
    'bg-color': #fee2e2,
    // red 800
    'text-color': #991b1b,
  ),
);