@use 'sass:map';

$breakpoints: (
  tiny: 320px,
  small: 640px,
  medium: 768px,
  large: 1024px,
  very-large: 1280px,
  extra-large: 1536px,
  ultra-large: 2560px,
);

// Color are chosen from TailwindCSS color scheme
// https://tailwindcss.com/docs/customizing-colors

// transitions
$transition-duration: 0.3s;
$transition-type: ease-out;

// borders and shadows
$box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);

// themes
$accent-color-dark: #d1bea8;
$accent-color-light: darken($accent-color-dark, 10%);
$themes: (

  'light': (

    'accent-color': $accent-color-light,
    'hover-over-accent-color': lighten($accent-color-light, 10%),
    'text-over-accent-color': #000000,
    'bg-primary': #ffffff,
    'bg-primary-inverse': #ffffff,
    'bg-secondary': #f9f9f9,
    'bg-card': #f1f1f1,
    'heading-color': #000000,
    'text-color': #2b2b2b,
    'inverse-text-color': #000000,
    'muted-text-color': #777777,
    'inline-code-color': #444444,
    'highlight-color': #bdbdbd,
    'footer-color': #f1f1f1,

  ),

  'dark': (

    'accent-color': $accent-color-dark,
    'hover-over-accent-color': lighten($accent-color-dark, 10%),
    'text-over-accent-color': #000000,
    'bg-primary': #181818,
    'bg-primary-inverse': #1a1a1a,
    'bg-secondary': #1f1f1f,
    'bg-card': #313131,
    'heading-color': #ffffff,
    'text-color': #e0e0e0,
    'inverse-text-color': #ffffff,
    'muted-text-color': #9c9c9c,
    'inline-code-color': #bbbbbb,
    'highlight-color': #444444,
    'footer-color': #313131,

  ),

);
$brand-colors: (
  'facebook': #3b5998,
  'twitter': #1da1f2,
  'linkedin': #0077b5,
  'reddit': #ff4500,
  'tumblr': #35465c,
  'pocket': #ef4056,
  'diaspora': #1e1e1e,
  'whatsapp': #25d366,
);

$alerts: (
  'success': (
    // green 100
    'bg-color': #dcfce7,
    // green 800
    'text-color': #166534,
  ),
  'info': (
    // sky 100
    'bg-color': #e0f2fe,
    // sky 800
    'text-color': #075985,
  ),
  'warning': (
    // yellow 100
    'bg-color': #fef9c3,
    // yellow 800
    'text-color': #854d0e,
  ),
  'danger': (
    // red 100
    'bg-color': #fee2e2,
    // red 800
    'text-color': #991b1b,
  ),
);
