@use 'sass:map';

$breakpoints: (
  tiny: 320px,
  small: 640px,
  medium: 768px,
  large: 1024px,
  very-large: 1280px,
  extra-large: 1536px,
  ultra-large: 2560px,
);

// Color are chosen from TailwindCSS color scheme
// https://tailwindcss.com/docs/customizing-colors

// transitions
$transition-duration: 0.3s;
$transition-type: ease-out;


// themes
// $light-accent-color: #075cad;
// $dark-accent-color: #04d9ff;
$light-accent-color: #075cad;
$dark-accent-color: #04d9ff;
$light-accent-color-border: $light-accent-color;
$dark-accent-color-border: $dark-accent-color;
$light-card: #f0f0f0;
$dark-card: #313131;
$light-text: #363636;
$dark-text: #e0e0e0;

// borders and shadows
$light-box-shadow: 0px 0px 25px darken($light-card, 30%);
$dark-box-shadow: 0px 0px 25px lighten($dark-card, 30%);

$themes: (

  'light': (
    'accent-color': $light-accent-color,
    'hover-over-accent-color': lighten($light-accent-color, 10%),
    'accent-color-border': $light-accent-color-border,
    // 'hover-over-accent-color-border': lighten($light-accent-color-border, 20%),
    'hover-over-button-color': darken($light-card, 10%),
    'body': #ffffff,
    'bg-primary': #ffffff,
    'bg-secondary': #f9f9f9,
    'bg-card': $light-card,
    'footer-color': $light-card,
    'navbar': #ffffff,
    'heading-color': #000000,
    'text-color': $light-text,
    'inverse-text-color': $dark-text,
    'muted-text-color': lighten($light-text, 30%),
    'transparent-navbar-text-color': #000000,
    'text-over-accent-color': $light-card,
    'inline-code-color': $light-text,
    'highlight-color': $light-accent-color,
  ),

  'dark': (
    'accent-color': $dark-accent-color,
    'hover-over-accent-color': darken($dark-accent-color, 10%),
    'accent-color-border': $dark-accent-color-border,
    // 'hover-over-accent-color-border': darken($dark-accent-color-border, 20%),
    'hover-over-button-color': lighten($dark-card, 10%),
    'body': #181818,
    'bg-primary': #181818,
    'bg-secondary': #1f1f1f,
    'bg-card': $dark-card,
    'footer-color': $dark-card,
    'navbar': #1f1f1f,
    'heading-color': #ffffff,
    'text-color': $dark-text,
    'inverse-text-color': $light-text,
    'muted-text-color': darken($dark-text, 30%),
    'transparent-navbar-text-color': #ffffff,
    'text-over-accent-color': $dark-card,
    'inline-code-color': $dark-text,
    'highlight-color': $dark-accent-color,
  ),

);

// // themes default
// $light-accent-color: #0891b2;
// $dark-accent-color: #0891b2;
// $themes: (
//   'light': (
//     'accent-color': $light-accent-color,
//     'hover-over-accent-color': lighten($light-accent-color, 20%),
//     'selected-accent-color': lighten($light-accent-color, 10%),
//     'text-over-accent-color': #e4e4e7,
//     'bg-primary': #f8fafc,
//     'bg-primary-inverse': #0f172a,
//     'bg-secondary': #e2e8f0,
//     'bg-card': #fff,
//     'heading-color': #1e293b,
//     'text-color': #334155,
//     'inverse-text-color': #cbd5e1,
//     'muted-text-color': #64748b,
//     'inline-code-color': #dc2626,
//     'highlight-color': #fde68a,
//     'footer-color': #0f172a,
//     'progress-color': $light-accent-color,
//   ),
//   'dark': (
//     'accent-color': $dark-accent-color,
//     'hover-over-accent-color': lighten($dark-accent-color, 20%),
//     'selected-accent-color': lighten($dark-accent-color, 10%),
//     'text-over-accent-color': #e4e4e7,
//     'bg-primary': #1f2937,
//     'bg-primary-inverse': #0f172a,
//     'bg-secondary': #111827,
//     'bg-card': #1e293b,
//     'heading-color': #f1f5f9,
//     'text-color': #cbd5e1,
//     'inverse-text-color': #0f172a,
//     'muted-text-color': #64748b,
//     'inline-code-color': #dc2626,
//     'highlight-color': #fde68a,
//     'footer-color': #0f172a,
//     'progress-color': $dark-accent-color,
//   ),
// );

$brand-colors: (
  'facebook': #3b5998,
  'twitter': #1da1f2,
  'linkedin': #0077b5,
  'reddit': #ff4500,
  'tumblr': #35465c,
  'pocket': #ef4056,
  'diaspora': #1e1e1e,
  'whatsapp': #25d366,
);

$alerts: (
  'success': (
    // green 100
    'bg-color': #dcfce7,
    // green 800
    'text-color': #166534,
  ),
  'info': (
    // sky 100
    'bg-color': #e0f2fe,
    // sky 800
    'text-color': #075985,
  ),
  'warning': (
    // yellow 100
    'bg-color': #fef9c3,
    // yellow 800
    'text-color': #854d0e,
  ),
  'danger': (
    // red 100
    'bg-color': #fee2e2,
    // red 800
    'text-color': #991b1b,
  ),
);