{{ $achievementImage := resources.Get .image }}
{{ $achievementImageLg := "" }}
{{ $achievementImageSm := "" }}
{{ $achievementImageLgWebp := "" }}
{{ $achievementImageSmWebp := "" }}

{{ if $achievementImage }}
  {{ $achievementImageSm = ($achievementImage.Resize "x500").RelPermalink }}
  {{ $achievementImageLg = ($achievementImage.Resize "x1500").RelPermalink }}
  {{ $achievementImageSmWebp = ($achievementImage.Resize "x500 webp").RelPermalink }}
  {{ $achievementImageLgWebp = ($achievementImage.Resize "x1500 webp").RelPermalink }}
{{ end }}

<div class="achievement-entry text-center d-none"
     data-small="{{ $achievementImageSm }}"
     data-large="{{ $achievementImageLg }}"
     data-small-webp="{{ $achievementImageSmWebp }}"
     data-large-webp="{{ $achievementImageLgWebp }}">

  <!-- Image wrapper for relative positioning -->
  <div class="achievement-image-wrapper">
    <picture>
      <source srcset="{{ $achievementImageSmWebp }}" type="image/webp">
      <img src="{{ $achievementImageSm }}" alt="{{ .title }}" class="achievement-img">
    </picture>

    <!-- Icons now positioned relative to the wrapper (image) -->
    <i class="fa-solid fa-up-right-and-down-left-from-center expand-icon"></i>
    <i class="fa-solid fa-down-left-and-up-right-to-center collapse-icon"></i>
    <h5 class="title" id="achievement-title">{{ .title }}</h5>
  </div>

  <div class="caption hidden col-lg-6 card" id="caption">
    <div class="card-head">    
        <h5 class="card-title">{{ .title }}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">{{ .summary | markdownify }}</p>
    </div>
  </div>
</div>